.footer {
    padding: 80px 0px;
    background-color: #111;
    .footer_box {
        width: 1040px;
        margin: 0 auto;
        .footer_main {
            margin-bottom: 120px;
        }
    }
}

.footer_main-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .main-upper-inner {
        display: flex;
        align-items: center;
        .footer-inner-text {
            color: #F5F0EC;
            line-height: 150%;
            letter-spacing: -0.16px;
        }
    }
}

.footer-btn {
    width: 208px;
    height: 50px;
    margin-left: 24px;
    background-color: #1B5B31;
    border: 1px solid #1B5B31 !important;
    &:before {
        background-color: #111 !important;
    }
    &:hover {
        color: #F5F0EC !important;
    }
}

.footer-btn:hover {
    border: 1px #F5F0EC solid !important;
}

.footer_line {
    margin: 62px 0px;
    background-color: #F5F0EC;
    height: 1px;
}

.footer_main-lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.14px;
        color: #F5F0EC;
    }
    .footer_list-link {
        display: block;
        position: relative;
        padding: 4px 0;
    }
    
    .footer_list-link::before {
        border-radius: 8px;
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.5s transform ease;
        transform: scale3d(0,1,1);
        transform-origin: 100% 50%;
        background: #F5F0EC;
        background-size: 300% 100%;
    }
    
    .footer_list-link:focus::before {
        outline: none;
    }
    
    .footer_list-link:hover::before {
        transform: scale3d(1,1,1);
        transform-origin: 0 50%;
        background-position: 100% 0;
    }
}

.footer_links {
    display: flex;
    .footer_list-element:not(:last-child) {
        margin-right: 48px;
    }
}

.footer_phone {
    margin-right: 48px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F5F0EC;
    line-height: 150%;
    letter-spacing: -0.16px;
}

.company_info {
    display: flex;
    align-items: center;
}

.footer-before_logo {
    margin-right: 16px;
}

@media (max-width: 1050px) {
    .footer {
        padding: 80px 50px;
        .footer_box {
            width: auto;
        }
    }
}

@media (max-width: 900px) {
    .footer {
        padding: 80px 50px;
        .footer_box {
            width: auto;
            .footer_main {
                margin-bottom: 90px;
            }
        }
    }

    .footer_main-upper {
        flex-direction: column;
        .main-upper-inner {
            margin-top: 40px;
        }
    }

    .footer_line {
        margin: 32px 0px;
    }

    .footer_main-lower {
        flex-direction: column;
        .footer_list-link {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 620px) {
    .footer {
        font-size: 12px;
    }
    .footer_main-upper {
        flex-direction: column;
        .main-upper-inner {
            flex-direction: column;
            margin-top: 30px;
        }
    }

    .footer-btn {
        font-size: 14px;
        margin: 15px 0px 0px 0px;
    }

    .footer_line {
        margin: 32px 0px;
    }

    .footer_main-lower {
        flex-direction: column;
        .footer_list-link {
            margin-bottom: 30px;
        }
    }

    .footer_links {
        display: flex;
        flex-direction: column;
        text-align: center;
        .footer_list-element:not(:last-child) {
            margin-right: 0px;
        }
    }

    .footer_line-hidden {
        width: 100%;
        margin-bottom: 30px;
        background-color: #F5F0EC;
        height: 1px;
    }

    .footer_contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer_phone {
            margin: 0px 0px 20px 0px;
        }
    }

    .copyright {
        flex-direction: column;
        .company_info {
            margin-top: 10px;
        }
    }
}