.intro_carousel {
    height: 737px;
    display: flex;
    justify-content: center;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.intro_main {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #DCC1AB;
}

.intro_main_cont {
    width: 600px;
    margin-right: 64px;
}

.intro_text {
    width: 600px;
}

.intro_title {
    width: 100%;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 44px;
}

.intro_desc {
    width: 489px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.intro_carousel-inner {
    width: 688px;
    position: relative;
    overflow: hidden;
}

.intro_buttons {
    display: flex;
    height: 50px;
    margin-top: 72px;
    .btn {
        border: 1px solid #1B5B31;
    }
    .intro_contact-btn {
        background-color: #1B5B31;
        margin-right: 36px;
        &:before {
            background-color: #DCC1AB;
        }
        &:hover {
            color: #1B5B31;
        }
    }
    .intro-projects-btn {
        color: #1B5B31;
        &:before {
            background-color: #1B5B31;
        }
        &:hover .btn-svg path {
            fill: #F5F0EC;
        }
        .btn-svg {
            path {
                fill: #1B5B31;
            }
        }
    }
}

.carousel-buttons {
    gap: 32px;
    display: flex;
    padding: 24px 32px;
    background-color: white;
    right: 0px;
    position: absolute;
    bottom: 0px;
}

.carousel-btn {
    position: relative;
    width: 48px;
    height: 48px;
}

.carousel-intro-next {
    transform: rotate(180deg);
}

.carousel-intro-img {
    height: 100%;
}

.carousel-item-intro {
    width: 100%;
    height: 100%;
}