.projects {
    padding: 120px 0px 44px 0px;
    background-color: #DCC1AB;
}

.projects_titles {
    padding-left: 160px;
    margin-bottom: 96px;
}

.grid {
    margin: 0 auto;
}

.grid-item {
    width: 452px;
}

.img {
    width: 100%;
}